.benefits__wrapper {
  display: flex;
  flex-direction: column;
}

.benefits__intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px 0;
}

.benefits__intro-title {
  margin-top: 0;
  margin-bottom: 35px;
  text-align: center;
}

.benefits__intro-text {
  margin: 0;
}

.benefits__article-list {
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
}

.benefits__article-list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefits__article-item {
  display: flex;
  flex-wrap: wrap;

  &--image-disclosed {
    background-color: #81b3d2;
    color: #ffffff;
  }
}

.benefits__list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.benefits__article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: fit-content;
  margin: 54px 18px 50px;
  background-color: transparent;
}

.benefits__article-image {
  height: 260px;
}

.benefits__minor-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  gap: 25px;
  margin-top: 23px;
  margin-bottom: 46px;
}

.benefits__minor-item {
  padding-left: 47px;
}

.benefits__minor-text {
  text-align: left;
}

.benefits__article-explication {
  color: inherit;
}

@media (min-width: @tablet-width) {
  .benefits__intro {
    margin-bottom: 55.5px;
  }

  .benefits__article-list-wrapper {
    flex-direction: row;
    margin: 0;
  }

  .benefits__list-item {
    margin: 41px 33px;
  }

  .benefits__article-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &--image-disclosed {
      flex-wrap: nowrap;
      background-color: #81b3d2;
      color: #ffffff;
    }
  }

  .benefits__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 52px 33px 31px;
  }

  .benefits__article-image {
    width: 512px;
    height: 256px;
  }

  .benefits__minor-list {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .benefits__minor-item {
    align-items: center;
    padding: 0 33px;
    padding-top: 160px;
    padding-bottom: 60px;
  }

  .benefits__minor-text {
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .benefits__intro {
    margin-bottom: 44px;
  }

  .benefits__article-list-wrapper {
    flex-direction: row;
  }

  .benefits__list-item {
    margin: 52px 50px;
  }

  .benefits__article-item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &--image-disclosed {
      flex-wrap: nowrap;
      background-color: #81b3d2;
      color: #ffffff;
    }
  }

  .benefits__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 52px 50px 51px;
  }

  .benefits__article-image {
    width: 512px;
    height: 256px;
  }

  .benefits__minor-list {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .benefits__minor-item {
    align-items: center;
    padding: 0 50px;
    padding-top: 170px;
    padding-bottom: 70px;
  }

  .benefits__minor-text {
    text-align: center;
  }
}
