.benefits__wrapper {
  margin-bottom: 60px;
}

.benefits__intro {
  margin-bottom: 44px;
}

.benefits__intro-title {
  margin-bottom: 35px;
}

.benefits__article-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.benefits__article-item {
  display: flex;
  flex-wrap: wrap;
  min-height: 142px;
}

.benefits__article {
  background-color: #eeeeee;

  &--image-disclosed {
    background-color: #81b3d2;
    color: #ffffff;
  }
}
