.benefits__wrapper {
  display: flex;
  flex-direction: column;
}

.benefits__intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px 0;
}

.benefits__intro-title {
  margin-top: 0;
  margin-bottom: 35px;
  text-align: center;
}

.benefits__intro-text {
  margin: 0;
}

.benefits__article-list {
  display: flex;
  gap: 1px;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0 41.5px;
  background-color: #eeeeee;
}

.benefits__list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 24px 0;
}

.benefits__list-item:not(:last-child) {
  border-bottom: 1px #d6d6d6 solid;
}

.benefits__article-item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &--image-disclosed {
    background-color: #81b3d2;
    color: #ffffff;
  }
}

.benefits__article-item picture {
  width: 100%;
}

.benefits__article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: fit-content;
  margin: 54px 18px 50px;
  background-color: transparent;
}

.benefits__article-image {
  display: flex;
  width: 100%;
  object-fit: cover;
}

.benefits__minor-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  gap: 25px;
  margin: 23px 18px 46px;
}

.benefits__minor-item {
  padding-left: 47px;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: top left;

  &--house {
    background-image: url("../../img/based-house.svg");
  }

  &--food {
    background-image: url("../../img/based-burger.svg");
  }

  &--present {
    background-image: url("../../img/based-present.svg");
  }
}

.benefits__minor-heading {
  margin-bottom: 16px;
}

.benefits__minor-text {
  text-align: left;
}

.benefits__article-heading {
  margin-bottom: 11px;
}

.benefits__article-explication {
  color: inherit;
}

.benefits__article-number {
  margin-bottom: 17px;
}

@media (max-width: @mobile-width-only) {
  br {
    display: none;
  }

  .benefits__article-item--decorated {
    position: relative;
  }

  .benefits__article-item--decorated::before {
    position: absolute;
    top: -10px;
    content: "";
    display: block;
    width: 100%;
    height: 37px;
    background-image: url("../../img/intro-secondtriangle.svg");
    background-repeat: no-repeat;
    background-position: center top;
  }
}

@media (min-width: @tablet-width) {
  .benefits__intro {
    margin-bottom: 55.5px;
  }

  .benefits__article-list {
    flex-direction: row;
    gap: 66px;
    margin: 0;
    padding: 41px 33px;
  }

  .benefits__list-item {
    margin: 0;
    padding: 0;
  }

  .benefits__list-item:not(:last-child) {
    border: none;
  }

  .benefits__article-item {
    display: flex;
    flex-wrap: wrap;

    &--image-disclosed {
      flex-wrap: nowrap;
    }
  }

  .benefits__article {
    margin: 52px 33px 31px;
  }

  .benefits__article-image {
    height: 256px;
  }

  .benefits__minor-list {
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
  }

  .benefits__minor-item {
    align-items: center;
    padding: 0 33px;
    padding-top: 160px;
    padding-bottom: 60px;
    background-position: center 25%;
    background-size: 80px 80px;
  }

  .benefits__minor-text {
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .benefits__intro {
    margin-bottom: 44px;
  }

  .benefits__article-list {
    gap: 100px;
    padding: 52px 50px;
  }

  .benefits__list-item {
    margin: 0;
    padding: 0;
  }

  .benefits__article {
    margin: 52px 50px 51px;

    &--second {
      order: 2;
    }
  }

  .benefits__minor-item {
    padding: 0 50px;
    padding-top: 170px;
    padding-bottom: 70px;
  }
}
