.catalog-video__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  min-height: 331px;
}

.catalog-video__text-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 34px;
  margin: 0 22px 38px;
}

.catalog-video__video {
  display: flex;
  width: 100%;
  object-fit: cover;
}

.catalog-video__video-link {
  position: relative;
}

.catalog-video__video-link::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  width: 48px;
  height: 54px;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
  background-color: rgba(255, 255, 255, 0.7);
  transform: translate(-50%, -50%);
}


@media (min-width: @tablet-width) {
  .catalog-video__wrapper {
    margin-bottom: 40px;
  }

  .catalog-video__text-group {
    row-gap: 29px;
    margin: 0 134px 90px;
  }

  .catalog-video__heading {
    font-size: 30px;
    line-height: 0.87;
  }
}

@media (min-width: @desktop-width) {
  .catalog-video__wrapper {
    margin-bottom: 84px;
  }

  .catalog-video__text-group {
    margin: 0 377px;
    margin-bottom: 64px;
  }
}
