.collage-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.87;
  text-align: center;
}

.collage__pic-main {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

.collage__remark-above {
  color: #ffffff;
}

.collage__pic-caption {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}
