.collage__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 17px;
}

.collage__heading {
  margin: 0;
  margin-bottom: 35px;
}

.collage__text {
  margin: 0;
}

.collage__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 17px;
  padding: 0;
  list-style: none;
}

.collage__pic-main {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

.collage__pic-caption {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  text-transform: none;
}
