.emotions .emotions__wrapper {
  display: flex;
  flex-direction: column;
}

.emotions__feedback-text {
  margin-bottom: 56px;
  padding: 16px;
  min-height: 150px;
  width: 100%;
  color: rgba(0, 0, 0, 0.3);
  background-color: #f2f2f2;
  resize: none;
  text-align: left;
  border: none;
  font-family: inherit;

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
    font-size: 18px;
    line-height: 1.44;
  }
}

.emotions__title {
  margin-bottom: 20px;
}

.emotions__bottom-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.emotions__button {
  width: 100%;
}

@media (min-width: @tablet-width) {
  .emotions__wrapper {
    margin-bottom: 64px;
  }

  .emotions__bottom-wrapper {
    flex-direction: row;
    align-items: center;
  }

  .emotions__button {
    width: 50%;
  }

  .emotions__title {
    position: relative;
    width: 100%;
    margin-bottom: 28px;

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      content: "";
      background-color: #dbdbdb;
      height: 1px;
      width: 123px;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  .emotions__feedback-text {
    margin-bottom: 48px;
    font-size: 18px;
    line-height: 1.44;
    height: 159px;
  }
}

@media (min-width: @desktop-width) {
  .emotions__wrapper {
    margin-bottom: 64px;
  }

  .emotions__title {
    &::before,
    &::after {
      width: 280px;
    }
  }

  .emotions__feedback-text {
    width: 768px;
    margin: 0 96px 48px;
  }

  .emotions__bottom-wrapper {
    width: 768px;
    margin: 0 96px 64px;
  }
}
