.feedback__wrapper {
  border: none;
  margin: auto 20px;
}

.feedback__section {
  margin: 24px 0;
  width: 100%;
  border: none;
  box-sizing: border-box;
}

.feedback__field-text {
  text-transform: none;
}
