.feedback__wrapper {
  border: none;
}

.feedback__section {
  position: relative;
  padding: 0 20px;
  margin: 0;
  border: none;
}

.feedback__request {
  display: flex;
  justify-content: center;
}

.feedback__label {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.feedback__field-text {
  text-transform: none;
}

.feedback__legend {
  margin-top: 3px;
  color: rgba(51, 51, 51, 0.6);
}

@media (max-width: @mobile-width-only) {
  .feedback__section {
    margin-bottom: 24px;
    width: 100%;
  }

  .feedback__section::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
  }
}

@media (min-width: @tablet-width) {
  .feedback__wrapper {
    margin: 0 60px;
  }

  .feedback__section {
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .feedback__wrapper {
    margin: 0 120px;
  }
}
