.hero {
  position: relative;
  height: 389px;
  width: 100%;
  background-color: @light-blue;
}

.hero__wrapper {
  position: relative;
  height: 100%;
  background: url("../../img/hero-mobile_background.jpg") no-repeat center/cover;
}

.hero__wrapper--small {
  background-position: bottom;
}

.hero__main {
  height: 389px;
}

.hero__form {
  height: 158px;
}

.hero__catalog {
  height: 158px;
}

.hero__hero-group {
  position: absolute;
  top: 30%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(-50%, -30%);
}

@media (min-width: @tablet-width) {
  .hero {
    height: 518px;
  }

  .hero__main {
    height: 518px;
  }

  .hero__form {
    height: 290px;
  }

  .hero__catalog {
    height: 290px;
  }
}

@media (min-width: @desktop-width) {
  .hero {
    height: 518px;
  }

  .hero__main {
    height: 518px;
  }

  .hero__form {
    height: 300px;
  }

  .hero__catalog {
    height: 300px;
  }
}
