.login-form__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.login-form__wrapper-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login-form__wrapper .login-form__wrapper-item {
  padding-bottom: 39px;
}

.login-form__wrapper .login-form__wrapper-item:nth-child(2n) {
  padding-top: 19px;
  padding-bottom: 37px;
}


.login-form__group {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 79px;
  margin: 0;
}

.login-form__group--contacts {
  width: 100%;
}

.login-form__field-wrapper {
  position: relative;
}

.login-form__icon {
  position: absolute;
  top: 50%;
  left: 100%;
  height: 100%;
  width: 58px;
  padding: 20px;
  background-color: #e6e6e6;
  transform: translate(-100%, -50%);
}

.login-form__label {
  align-self: flex-start;
  padding-left: 16px;
}

.login-form__title {
  padding-top: 23px;
}

.login-form__field.title {
  font-size: 18px;
  line-height: 1.44;
}

.login-form__field {
  min-height: 58px;
  width: 100%;
  padding: 16px;
  text-align: left;
  background-color: #f2f2f2;
  color: #000000;
  border: none;
  font-family: inherit;
  cursor: pointer;

  &--contacts,
  &--mail {
    padding-right: 60px;
  }
}

.login-form__field::placeholder {
  font-size: 18px;
  line-height: 1.44;
  color: rgba(0, 0, 0, 0.3);
}

.login-form__field:hover {
  background-color: #e5e5e5;
}

.login-form__field:active,
.login-form__field:focus-visible {
  background-color: transparent;
  outline: 4px solid #e5e5e5;
  outline-offset: -4px;
}

.login-form__field:focus-visible {
  outline-color: #e5e5e5;
}

@media (min-width: @tablet-width) {
  .login-form__wrapper {
    position: relative;
    flex-wrap: nowrap;
    gap: 58px;
    margin-bottom: 24.5px;
  }

  .login-form__wrapper::after {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    display: flex;
    width: 1px;
    min-height: 100%;
    background-color: #dbdbdb;
  }

  .login-form__wrapper-item {
    width: 38.4%;
    min-width: 295px;
  }

  .login-form__title {
    padding: 0;
    margin-bottom: 28px;
  }

  .login-form__wrapper .login-form__wrapper-item:nth-child(2n) {
    padding-top: 0;
    padding-bottom: 32px;
  }
}

@media (min-width: @desktop-width) {
  .login-form__wrapper {
    gap: 100px;
    margin-bottom: 33px;
  }

  .login-form__wrapper-item {
    width: 53.5%;
    min-width: 430px;
  }
}
