.login-form__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.login-form__group {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 79px;
}

.login-form__group--contacts {
  width: 100%;
}

.login-form__group--contacts::after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  width: 58px;
  height: 58px;
  background-image: url("../../img/phone.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;
  background-color: #e6e6e6;
}

.login-form__group--mail::after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  width: 58px;
  height: 58px;
  background-image: url("../../img/mail.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;
  background-color: #e6e6e6;
}

.login-form__label {
  align-self: flex-start;
}

.login-form__group:not(:last-child) {
  margin-bottom: 16px;
}

.login-form__field {
  min-height: 58px;
  width: 100%;
  padding: 16px;
  text-align: left;
  background-color: #f2f2f2;
  color: #000000;
  border: none;
  cursor: pointer;

  &--contacts,
  &--mail {
    padding-right: 60px;
  }
}

.login-form__field::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.login-form__field:hover {
  background-color: #e5e5e5;
}

.login-form__field:active {
  background-color: transparent;
  outline: 4px solid #e5e5e5;
  outline-offset: -4px;
}

.login-form__field:focus-visible {
  outline-color: #e5e5e5;
}

@media (max-width: @mobile-width-only) {
  .login-form__group:last-child {
    margin-bottom: 39px;
  }

  .login-form__wrapper-item:last-child .login-form__group:last-child {
    margin-bottom: 34px;
  }
}

@media (min-width: @tablet-width) {
  .login-form__wrapper {
    flex-wrap: nowrap;
    gap: 58px;
    margin-bottom: 63px;
  }

  .login-form__wrapper-item {
    width: 38.4%;
    min-width: 295px;
  }
}

@media (min-width: @desktop-width) {
  .login-form__wrapper {
    gap: 100px;
    margin-bottom: 71px;
  }

  .login-form__wrapper-item {
    width: 53.5%;
    min-width: 430px;
  }
}
