.main-nav {
  display: flex;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.main-nav__link {
  color: inherit;
  text-decoration: none;
}

.main-nav__list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: inherit;
  font-weight: 700;

  &--active {
    color: #766357;
  }
}

