.sites__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  margin-bottom: 24px;
}

.sites__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sites__item {
  min-width: 224px;
}

.sites__checkbox {
  position: relative;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border-radius: 9%;
}

.sites__input:checked + .sites__checkbox::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 22px;
  height: 16px;
  background: url("../../img/check-tick.svg") no-repeat center / cover;
  content: "";
  transform: translate(-50%, -50%);
}

@media (min-width: @tablet-width) {
  .sites__wrapper {
    row-gap: 28px;
    margin-bottom: 42px;
  }

  .sites__list {
    flex-direction: row;
    column-gap: 32px;
    margin: 0 84px;
  }

  .sites__item {
    min-width: none;
  }
}

@media (min-width: @desktop-width) {
  .sites__wrapper {
    margin-bottom: 56px;
  }

  .sites__list {
    flex-direction: row;
    gap: 64px;
  }
}
